#app {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #484848;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template:  "header" auto
                  "view" 1fr
                  "footer" auto;
}

a {
  color: royalblue;
  font-weight: bold;
  text-decoration: underline;
  transition: color .2s;
}

.container {
  width: 80%;
  max-width: 50rem;
  margin: 0 auto;
}

#header, #footer {
  background: #61B1FF;
  color: #252525;
}

#header a, #footer a {
  color: black;
}
#header a:hover, #header a:focus,
#footer a:hover, #footer a:focus {
  color: #252525;
}

#header {
  grid-area: header;
  padding: .5rem 0;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header nav li {
  margin-left: 1rem;
}

.view {
  grid-area: view;
  padding: 2rem 0 3rem;
}

#footer {
  grid-area: footer;
  text-align: center;
  padding: .75rem 0;
}